In [14]:
import pandas as pd 
import time
import tensorflow as tf
import random
import matplotlib.pyplot as plt

from tensorflow.examples.tutorials.mnist import input_data

In [2]:
df = pd.read_csv('./indexing_dataset.csv', sep =',', encoding = 'utf-8')

In [3]:
df.head()

,Unnamed: 0,year,month,hour,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Category_index,DayOfWeek_index,PdDistrict_index,Descript_index,Resolution_index,Address_index
0,0,2015,5,PM,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,0,0,0
1,1,2015,5,PM,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,1,0,0,1,0,0
2,2,2015,5,PM,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,1,0,0,1,0,1
3,3,2015,5,PM,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2,0,0,2,1,2
4,4,2015,5,PM,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,2,0,1,2,1,3

In [4]:
df2 = df[df["year"] == 2015]

In [5]:
df3=df2[["year","month",'DayOfWeek_index','PdDistrict_index','Category_index']]
df3=df3[df3["year"] == 2015]
df3

       year  month  DayOfWeek_index  PdDistrict_index  Category_index
0      2015      5                0                 0               0
1      2015      5                0                 0               1
2      2015      5                0                 0               1
3      2015      5                0                 0               2
4      2015      5                0                 1               2
5      2015      5                0                 2               2
6      2015      5                0                 2               3
7      2015      5                0                 3               3
8      2015      5                0                 4               2
9      2015      5                0                 5               2
10     2015      5                0                 5               2
11     2015      5                0                 6               1
12     2015      5                0                 7               4
13     2015      5                0                 0               2
14     2015      5                0                 3               5
15     2015      5                0                 3               5
16     2015      5                0                 7               6
17     2015      5                0                 2               7
18     2015      5                0                 3               1
19     2015      5                0                 7               5
20     2015      5                0                 2               2
21     2015      5                0                 2               6
22     2015      5                0                 7               0
23     2015      5                0                 7               5
24     2015      5                0                 0               2
25     2015      5                0                 7               5
26     2015      5                0                 0               2
27     2015      5                0                 2               2
28     2015      5                0                 6               2
29     2015      5                0                 6               1
...     ...    ...              ...               ...             ...
27554  2015      1                2                 5               8
27555  2015      1                2                 5              15
27556  2015      1                2                 3               9
27557  2015      1                2                 7               5
27558  2015      1                2                 3               3
27559  2015      1                2                 8               5
27560  2015      1                2                 8              21
27561  2015      1                2                 5              22
27562  2015      1                2                 5              22
27563  2015      1                2                 5              15
27564  2015      1                2                 5               5
27565  2015      1                2                 5              25
27566  2015      1                2                 2               1
27567  2015      1                2                 2               4
27568  2015      1                2                 5               7
27569  2015      1                2                 5               7
27570  2015      1                2                 8               1
27571  2015      1                2                 9              18
27572  2015      1                2                 1               2
27573  2015      1                2                 3               2
27574  2015      1                2                 1               9
27575  2015      1                2                 5               1
27576  2015      1                2                 9               5
27577  2015      1                2                 3              12
27578  2015      1                2                 2               2
27579  2015      1                2                 2              12
27580  2015      1                2                 1               2
27581  2015      1                2                 0               2
27582  2015      1                2                 5               7
27583  2015      1                2                 1              18

[27584 rows x 5 columns]

In [6]:
df3.head()

   year  month  DayOfWeek_index  PdDistrict_index  Category_index
0  2015      5                0                 0               0
1  2015      5                0                 0               1
2  2015      5                0                 0               1
3  2015      5                0                 0               2
4  2015      5                0                 1               2

In [7]:
print(len(df3['year'].unique()),
len(df3['month'].unique()),
len(df3['DayOfWeek_index'].unique()),
len(df3['PdDistrict_index'].unique()),
len(df3['Category_index'].unique()))

1 5 7 10 37

In [8]:
len(df3.columns)

5

In [9]:
df3.to_csv('./dataset_separate.csv', encoding = 'utf-8',sep=',')

In [10]:
len(df2.columns)

19

In [11]:
from tqdm import tqdm_notebook
import tensorflow as tf
import random
import matplotlib.pyplot as plt

from tensorflow.examples.tutorials.mnist import input_data

In [12]:
def xavier_init(n_inputs, n_outputs, uniform=True):
    if uniform:
        # 6 was used in the paper.
        init_range = tf.sqrt(6.0 / (n_inputs + n_outputs))
        return tf.random_uniform_initializer(-init_range, init_range)
    else:
        # 3 gives us approximately the same limints as above since this repicks
        # values greater than 2 standard deviations from the mean.
        stddev = tf.sqrt(3.0 / (n_inputs + n_outputs))
        return tf.truncated_normal_initializer(stddev=stddev)

In [ ]:
mnist = input_data.read_data_sets("./dataset_separate.csv", one_hot=True)
mnist

In [ ]:
# Lab 10 MNIST and Xavier
import tensorflow as tf
import random
# import matplotlib.pyplot as plt

from tensorflow.examples.tutorials.mnist import input_data

tf.set_random_seed(777)  # reproducibility 

mnist = input_data.read_data_sets("./dataset_separate.csv", one_hot=True)
# Check out https://www.tensorflow.org/get_started/mnist/beginners for
# more information about the mnist dataset

# parameters
learning_rate = 0.001
training_epochs = 10
batch_size = 2000

# input place holders
X = tf.placeholder(tf.float32, [None, 4])
Y = tf.placeholder(tf.float32, [None, 37])

# weights & bias for nn layers
# http://stackoverflow.com/questions/33640581/how-to-do-xavier-initialization-on-tensorflow
W1 = tf.get_variable("W1", shape=[4, 256],
                     initializer=xavier_init())
b1 = tf.Variable(tf.random_normal([256]))
L1 = tf.nn.relu(tf.matmul(X, W1) + b1)

W2 = tf.get_variable("W2", shape=[256, 256],
                     initializer=xavier_init())
b2 = tf.Variable(tf.random_normal([256]))
L2 = tf.nn.relu(tf.matmul(L1, W2) + b2)

W3 = tf.get_variable("W3", shape=[256, 256],
                     initializer=xavier_init())
b3 = tf.Variable(tf.random_normal([256]))
L3 = tf.nn.relu(tf.matmul(L2, W3) + b3)



W4 = tf.get_variable("W4", shape=[256, 37],
                     initializer=xavier_init())
b4 = tf.Variable(tf.random_normal([37]))
hypothesis = tf.matmul(L3, W4) + b4

# define cost/loss & optimizer
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=hypothesis, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)

In [16]:
# parameters
learning_rate = 0.001
training_epochs = 10
batch_size = 2000

# initialize
sess = tf.Session()
sess.run(tf.global_variables_initializer())

# train my model
time1 = time.time()
for epoch in range(training_epochs):
    avg_cost = 0
    total_batch = int(len(df3) / batch_size)

    for i in range(total_batch):
        batch_xs, batch_ys = mnist.train.next_batch(batch_size)
        feed_dict = {X: batch_xs, Y: batch_ys}
        c, _ = sess.run([cost, optimizer], feed_dict=feed_dict)
        avg_cost += c / total_batch

    print('Epoch:', '%04d' % (epoch + 1), ' | cost =', '{:.9f}'.format(avg_cost))

print('Learning Finished!')
time2 = time.time()

chk_processting_time(time1, time2)

ERROR! Session/line number was not unique in database. History logging moved to new session 53

NameError: name 'mnist' is not defined